@use "../abstracts";
.header {
    background-color: var(--header-bg-cl);

    @include abstracts.breakpoint(md) {
        box-shadow: 0px 20px 60px 10px var(--header-shadow-cl);
    }
}

.top_bar {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 0;

    @include abstracts.breakpoint(lg) {
        justify-content: space-between;
    }

    @include abstracts.breakpoint(sm) {
        padding: 16px 0;
        justify-content: space-between;
    }

    &__more {
        @include abstracts.breakpoint(lg) {
            margin-top: 8px;
        }
    }
}

.navbar {
    margin-left: 129px;

    @include abstracts.breakpoint(xl) {
        margin-left: 40px;
    }

    @include abstracts.breakpoint(lg) {
        // display: none;
        // flex-direction: column;
        position: fixed;
        inset: 0 50% 0 0;

        z-index: 6;
        padding: 20px 0;

        margin-left: 0;

        background-color: red;
    }

    &__close-btn {
        padding: 10px 20px;
    }

    &__list {
        display: flex;
        align-items: center;

        @include abstracts.breakpoint(lg) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }

        @include abstracts.breakpoint(lg) {
            width: 100%;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        column-gap: 6px;

        padding: 0 15px;
        height: 50px;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.467;

        @include abstracts.breakpoint(lg) {
            justify-content: space-between;
            padding: 20px;

            font-size: 1.6rem;
            line-height: 1.5;
        }
    }

    &__img {
        margin-top: 3px;
        cursor: pointer;
    }
}

.navbar-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.3); /* Màu đen với độ mờ 50% */

    opacity: 0;
    visibility: visible;

    @include abstracts.breakpoint(lg) {
        z-index: 5;
        opacity: 1;
        visibility: visible;
    }
}

.top-act {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-left: auto;

    @include abstracts.breakpoint(md) {
        margin-left: 0;
    }

    &__group {
        display: flex;
        align-items: center;
        min-width: 50px;
        height: 50px;
        background: var(--top-act-bg-cl);
        border-radius: 8px;
        box-shadow: 0px 20px 60px 10px var(--top-act-shadow);

        @include abstracts.breakpoint(md) {
            display: none;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding: 13px 20px;
    }

    &__group--single {
        @include abstracts.breakpoint(lg) {
            display: none;
        }
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__seperate {
        width: 1px;
        height: 30px;
        background-color: var(--top-act-seperate-bg-cl);
    }

    &__title {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 146.667%;
    }

    &__avatar {
        min-width: 50px;
        height: 50px;
        border-radius: 8px;
    }
}
