@use "../abstracts";

.account-info {
    display: flex;
    column-gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background: var(--account-info-bg-cl);

    &__row {
        --grid-gutter-x: 20px;
        --grid-gutter-y: 20px;
    }

    &__icon-wrap {
        width: 54px;
        height: 54px;
        border-radius: 8px;
        background: var(--asidebar-bg-cl);

        display: flex;
        align-items: center;
        justify-content: center;

        flex-shrink: 0;
    }

    &__title {
        margin-top: 3px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__desc {
        margin-top: 6px;
        font-size: 1.4rem;
        line-height: 142.857%;
    }
}
