@use "../abstracts";

.form-card__bot {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include abstracts.breakpoint(md) {
        margin-top: 20px;
    }
}
