@use "../abstracts";

.dropdown {
    position: absolute;
    left: 0;
    width: min(1240px, 100%);
    padding-top: 54px;
    color: var(--dropdown-text-cl);

    &__inner {
        --inner-padding: 30px;

        position: relative;
        padding: var(--inner-padding);
        border-radius: 20px;
        background: var(--dropdown-bg-cl);
        box-shadow: 0px 40px 90px 20px var(--dropdown-bg-shadow-cl);

        &::before {
            content: url(../icons/dropdown.svg);
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            transform: translateX(-50%);
        }
    }
}

.top-menu {
    position: relative;
    &__main {
        width: 292px;
        height: calc(min(582px, 100vh - 158px) - var(--inner-padding) * 2);
        border-right: 1px solid var(--border-right-cl);
        overflow-y: auto;
    }
}

.menu-column {
    display: flex;
    column-gap: 14px;

    + .menu-column {
        margin-top: var(--inner-padding);
    }

    &__icon {
        position: relative;
        flex-shrink: 0;
        width: 36px;
        height: 36px;

        &-1 {
            width: 30px;
            height: 30px;
            object-fit: contain;
        }

        &-2 {
            position: absolute;
            right: 0;
            bottom: 0;

            width: 24px;
            height: 24px;
            object-fit: contain;

            filter: var(--icon-2-cl);
        }
    }

    &__content {
        flex: 1;
    }

    &__heading {
        margin-top: 4px;

        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.5;
    }

    &__list {
        margin-top: 19px;
    }

    &__item {
        &:hover .sub-menu {
            display: grid;
        }

        &:hover > .menu-column__link {
            font-weight: 500;
            color: #0071dc;
        }
    }

    &__link {
        display: block;
        padding: 7px 0;

        font-size: 1.4rem;
        line-height: 1.42;

        &:hover {
            font-weight: 500;
            color: #0071dc;
        }
    }
}

.sub-menu {
    position: absolute;
    inset: 0 0 0 292px;

    padding-left: var(--inner-padding);

    display: none;
    grid-template-columns: repeat(3, 1fr);

    overflow-y: auto;
}
