@use "../abstracts";

.dropdown {
    position: absolute;
    left: 0;
    width: min(1240px, 100%);
    padding-top: 54px;
    color: var(--dropdown-text-cl);

    &__inner {
        --inner-max-height: min(582px, 100vh - 144px);
        --inner-padding: 30px;

        position: relative;
        max-height: var(--inner-max-height);
        padding: var(--inner-padding);
        border-radius: 20px;
        background: var(--dropdown-bg-cl);
        box-shadow: 0px 40px 90px 20px var(--dropdown-bg-shadow-cl);

        &::before {
            content: url(../icons/dropdown.svg);
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            transform: translateX(-50%);
        }
    }
}

.top-menu {
    max-height: calc(var(--inner-max-height) - var(--inner-padding) * 2);

    &__main {
        width: 292px;
        max-height: inherit;
        border-right: 1px solid var(--border-right-cl);
        overflow-y: auto;
    }
}

.menu-column {
    display: flex;
    column-gap: 14px;

    &__icon {
        position: relative;
        flex-shrink: 0;
        width: 36px;
        height: 36px;

        &-1 {
            width: 30px;
            height: 30px;
            object-fit: contain;
        }

        &-2 {
            position: absolute;
            right: 0;
            bottom: 0;

            width: 24px;
            height: 24px;
            object-fit: contain;

            filter: var(--icon-2-cl);
        }
    }

    &__content {
        flex: 1;
        margin-top: 4px;
    }

    &__heading {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.5;
    }

    &__list {
        margin-top: 19px;
    }

    &__link {
        display: block;
        padding: 7px 0;

        font-size: 1.4rem;
        line-height: 1.43;

        &:hover {
            font-weight: 500;
            color: #0071dc;
        }
    }
}
