@use "../abstracts";
html {
    --header-bg-cl: #eeeeee;
    --text-cl: #1a162e;
    --icon-cl: brightness(0) saturate(100%) invert(7%) sepia(16%)
        saturate(4973%) hue-rotate(225deg) brightness(87%) contrast(93%);
    --top-act-bg-cl: #fff;
    --top-act-seperate-bg-cl: #ededf6;
    --top-act-shadow: #ededf633;

    @include abstracts.breakpoint(lg) {
        --header-bg-cl: #fff;
    }
}
