@use "../abstracts";
html {
    --body-bg-cl: #f6f6f6;
    --header-bg-cl: #eeeeee;
    --header-shadow-cl: #ededf633;
    --text-cl: #1a162e;
    --icon-cl: brightness(0) saturate(100%) invert(7%) sepia(16%) saturate(4973%) hue-rotate(225deg) brightness(87%)
        contrast(93%);

    --navbar-bg-cl: #fff;
    --navbar-text-lg-cl: #1a162e;
    --navbar-icon-lg-cl: #fff;
    --navbar-shadow-cl: #c8c8c866;

    --top-act-bg-cl: #fff;
    --top-act-seperate-bg-cl: #ededf6;
    --top-act-shadow: #ededf633;

    // Dropdown
    --dropdown-bg-cl: #fff;
    --dropdown-bg-shadow-cl: rgba(200, 200, 200, 0.4);
    --border-right-cl: #d2d1d6;
    --icon-2-cl: brightness(0) saturate(100%) invert(9%) sepia(8%) saturate(4425%) hue-rotate(210deg) brightness(90%)
        contrast(97%);

    // Home
    --cate-item-bg-cl: #eee;
    --cate-text-heading-cl: #000;
    --cate-text-desc-cl: #1a162e;
    --cate-item-thumb-bg-cl: #fff;

    // Filter Button
    --filter-bg-cl: #fff;
    --filter-text-cl: #6c6c72;
    --filter-icon-cl: brightness(0) saturate(100%) invert(5%) sepia(17%) saturate(6798%) hue-rotate(234deg)
        brightness(89%) contrast(91%);

    // Product Card
    --product-card-bg-cl: #fff;
    --product-card-text-cl: #1a162e;
    --product-card-market-cl: #9e9da8;
    --product-card-shadow-cl: rgba(237, 237, 246, 0.2);

    // Like Button
    --like-btn-bg-cl: #fff;
    --like-btn-shadow-cl: rgba(124, 124, 124, 0.2);

    // Filter Form
    --filter-bg-cl: #fff;
    --filter-text-cl: #1a162e;
    --filter-shadow-cl: rgba(200, 200, 200, 0.4);
    --filter-slider-cl: #d2d1d6;
    --filter-column-boder-right-cl: #eee;
    --filter-select-bg-cl: #f8f8fb;
    --filter-input-border-cl: #d2d1d6;
    --filter-input-bg-cl: #fff;
    --filter-tag-bg-cl: #f8f8fb;

    // Sign Up
    --sign-up-bg-cl: #fff;
    --sign-up-input-cl: #d2d1d6;
    --sign-up-input-bg-cl: var(--sign-up-bg-cl);
    --sign-up-input-outline-cl: var(--sign-up-input-cl);
    --sign-up-text-cl: #9e9da8;
    --sign-up-label-cl: var(--sign-up-text-cl);
    --intro-bg-cl: var(--body-bg-cl);
    --intro-dot-cl: #ededf6;
    @include abstracts.breakpoint(lg) {
        --header-bg-cl: #fff;
    }

    @include abstracts.breakpoint(md) {
        background: #eeeeee;
        --cate-item-bg-cl: #fff;
    }
}
