@use "../abstracts";
*,
::after,
::before {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    color: var(--text-cl);
    background-color: var(--body-bg-cl);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-1 {
    --line-clamp: 1;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

a {
    color: inherit;
    text-decoration: none;
}

input,
textarea,
select,
button,
span,
a,
img {
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    background: transparent;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.icon {
    filter: var(--icon-cl);
}

.container {
    @include abstracts.breakpoint(sm) {
        padding-left: 20px;
        padding-right: 20px;
    }
}
