* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-1 {
    --line-clamp: 1;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}
