<div class="container">
    <div class="footer__row">
        <!-- Col 1 -->
        <div class="footer__col">
            <h2 class="footer__title">ABOUT</h2>
            <p class="footer__desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, illum ipsam. Eos dolores ipsum
                perspiciatis, maxime possimus rem consequatur aliquid!
            </p>
            <div class="footer__payment">
                <div class="footer__payment-img-wrap">
                    <a href="#!" class="footer__payment-link"
                        ><img src="./assets/img/footer/payment-brand-1.svg" alt="" class="footer__payment-img icon"
                    /></a>
                    <a href="#!" class="footer__payment-link">
                        <img src="./assets/img/footer/payment-brand-2.svg" alt="" class="footer__payment-img icon" />
                    </a>
                    <a href="#!" class="footer__payment-link">
                        <img src="./assets/img/footer/payment-brand-3.svg" alt="" class="footer__payment-img icon" />
                    </a>
                    <a href="#!" class="footer__payment-link">
                        <img src="./assets/img/footer/payment-brand-4.svg" alt="" class="footer__payment-img icon" />
                    </a>
                    <a href="#!" class="footer__payment-link">
                        <img src="./assets/img/footer/payment-brand-5.svg" alt="" class="footer__payment-img icon" />
                    </a>
                </div>
                <div class="footer__bot">
                    <img src="./assets/icons/lock.svg" alt="" class="footer__bot-icon icon" />
                    <p class="footer__desc">Secure Online Payment</p>
                </div>
            </div>
        </div>
        <!-- Col 2 -->
        <div class="footer__col">
            <h2 class="footer__title">CATEGORIES</h2>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">Clothing</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Coffee</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Footwear</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Jwellery</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Hand Bag</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Lingerie</a>
                </li>
            </ul>
        </div>
        <!-- Col 3 -->
        <div class="footer__col">
            <h2 class="footer__title">INFORMATIONS</h2>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#!" class="footer__link">About Us</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Contact Us</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Term & Condition</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Return & Exchange</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Shipping & Delivery</a>
                </li>
                <li class="footer__item">
                    <a href="#!" class="footer__link">Private Policy</a>
                </li>
            </ul>
        </div>
        <!-- Col 4 -->
        <div class="footer__col">
            <h2 class="footer__title">CONTACT</h2>
            <div class="footer__address">
                <img src="./assets/icons/location.svg" alt="" class="footer__address-icon icon" />
                <p class="footer__desc">Address: 141 Truong Chinh, An Khe, Thanh Khe, Da Nang</p>
            </div>
            <div class="footer__contact">
                <div class="contact-item">
                    <img src="./assets/icons/phone.svg" alt="" class="contact-item__icon icon" />
                    <p class="contact-item__desc">Phone: (+84)785819692</p>
                </div>
                <div class="contact-item">
                    <img src="./assets/icons/message.svg" alt="" class="contact-item__icon icon" />
                    <p class="contact-item__desc">Email: tranquocthanhdat@gmail.com</p>
                </div>
                <div class="footer__social">
                    <a href="#!" class="footer__social-link">
                        <img src="./assets/icons/facebook.svg" alt="" class="footer__social-icon icon" />
                    </a>
                    <a href="#!" class="footer__social-link">
                        <img src="./assets/icons/x.svg" alt="" class="footer__social-icon icon" />
                    </a>
                    <a href="#!" class="footer__social-link">
                        <img src="./assets/icons/instagram.svg" alt="" class="footer__social-icon icon" />
                    </a>
                    <a href="#!" class="footer__social-link">
                        <img src="./assets/icons/tiktok.svg" alt="" class="footer__social-icon icon" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
